

.main-title, .content-principal,.seja-nosso-parceiro {
    display: none;
}

.partners {
    max-width: 100%;
    width: 100%;
    height: 660px;
    color: white;
    background-image: url('../../assets/images/bannerTeVejo.png');
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0.5; 
    transition: opacity .5s ease-in-out;

    @media (max-width: 375px) {
        display: none;
    }
}

.partners:hover {
    opacity: 1; 
}

.content-col {
    padding-left: 35%;
    padding-top: 10%;
}

.saiba-mais-btn {
    color: #2991E1;
    border-radius: 5px;
    background-color: white;
}
/*1366*/
@media (max-width: 1404px) {
    .partners {
        background-image: url('../../assets/images/bannerTeVejoResponse.png');
        position: relative;
        left: 5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        border-radius: 2rem;
        max-width: 100%;
        justify-content: center;
        width: 90%;
        
        background-position: center;
    }

    .content-col {
        padding-left: 50%; 
        padding-top: 10%;
    }

    .principal {
        font-size: 5vw; 
    }

    .main-title, .content-principal,.seja-nosso-parceiro {
        display: block;
        margin: 0;
    }

    .main-title {
        text-align: left;
        padding-left: 5%;
        @media (max-width: 375px) {
            display: none;
        }     
    }

    .seja-nosso-parceiro {
        text-align: right;
        padding-right: 5%;
        @media (max-width: 375px) {
            display: none;
        }
    }
    
    .content-principal {
        margin-left: 20%;
        letter-spacing: 3px;
        
    }

    .content-col {
        padding-bottom: 13%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .saiba-mais-btn {
        margin-left: 20%;
    }

    .maior {
        font-size: 36px;
        width: 60%;
    }

    .menor {
        font-size: 20px;

    }
}

@media (max-width: 1404px) {
    .content-col {
        padding-right: 25%;
    }
}
