.navbar{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #004B8D;
    padding-left: 5rem;
    font-size: 20px;
}

.all_links{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    padding-left: 40rem;
    
}

.all_links li a{
    text-decoration: none;
    color: #004B8D;
}

.light_mode{
    margin-right: 6rem;
}

