.navbar{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 30px;
    min-width: 100vh;
    
}

.logo{
    color: #004B8D;
    font-size: 20px;
    
}

.all_links{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-left: auto; 
    padding-right: 7rem;
    
}

.all_links li a{
    text-decoration: none;
    color: #004B8D;
}

.light_mode{
    right: 20px;
    
}

