footer {
    width: 100%;
    position: relative;
    top: 50rem;
}

.conteudo-geral {
    display: flex;
    z-index: 0;
    position: relative;
}

.conteudo-geral-colunas {
    z-index: 1000;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    top: 55%;
}

.primeira-coluna, .segunda-coluna, .terceira-coluna, .quarta-coluna {
    display: flex;
    flex-wrap: wrap;
}