.images {
  width: 80%;
}

.peixe-esquerda, .peixe-direita {
  width: 100%;
}

.peixe-direita {
  position: relative;
  left: 46%;
}

.peixe-esquerda {
  position: relative;
  top: 12rem;
}

.agua-viva {
  position: relative;
  top: 2rem;
  left: 85%;
}