.cards{
    display: flex;
    justify-content: center;
    position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
    top: 10rem;
    gap: 1rem;
=======
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    bottom: 8rem;
    gap: 5rem;
    margin: 0;
    padding: 0;
    z-index: 1;
}

@media (max-width: 650px) {
    .cards {
        align-items: center;
        flex-direction: column;
    }
<<<<<<< HEAD
>>>>>>> jonas
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
}

.first_card, .second_card, .third_card, .fourth_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    width: 13rem;
    height: 10rem;
    background: linear-gradient(to right, #3EABEE 0%, #289BEB 50%, #118BE9 100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
<<<<<<< HEAD
=======
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    width: 20rem;
    height: 15rem;
    background: linear-gradient(to right, #3EABEE 0%, #289BEB 50%, #118BE9 100%);
    border-radius: 15px;
<<<<<<< HEAD
>>>>>>> jonas
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
}

.header_card_one, .header_card_two, .header_card_three{
    display: flex;
    justify-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 13rem;
<<<<<<< HEAD
=======
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    align-items: center;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
<<<<<<< HEAD
>>>>>>> jonas
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    color: #FF6F00;
}

.card_content_one, .card_content_two, .card_content_three{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 12px;
    width: 9rem;
    height: 10rem;
=======
=======
    font-size: 12px;
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
    font-size: 1rem;
    width: 15rem;
    height: 15rem;
    font-family: var(--secondary-font);
<<<<<<< HEAD
>>>>>>> jonas
=======
>>>>>>> e3c44e34d116d1ed73297fbd042e49049710edf1
}