.cards{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3rem;
    gap: 5rem;
    z-index: 10;

    cursor: pointer;

}

.first_card:hover, .second_card:hover, .third_card:hover, .fourth_card:hover{
    transform: scale(1.03);
}

@media (max-width: 650px) {
    .cards {
        align-items: center;
        flex-direction: column;
    }
}

.first_card, .second_card, .third_card, .fourth_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s ease-in-out;
    width: 13rem;
    height: 10rem;
    background: linear-gradient(to right, #3EABEE 0%, #289BEB 50%, #118BE9 100%);
    border-radius: 15px 15px 15px 15px;
    width: 25rem;
    height: 20rem;
    background: linear-gradient(to right, #3EABEE 0%, #289BEB 50%, #118BE9 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header_card_one, .header_card_two, .header_card_three{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    width: 13rem;
    align-items: center;
    background-color: #FFFFFF;
    width: 25rem;
    height: 5rem;
    font-size: 1.5rem;
    color: #FF6F00;
}

.card_content_one, .card_content_two, .card_content_three{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    width: 15rem;
    height: 15rem;
    font-family: var(--secondary-font);
    /* border: yellow solid 1px; */
}