@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

<<<<<<< HEAD
.main_text{
    margin-top: 5rem;
    padding-left: 12rem;
}

.text{
    width: 20rem;
=======

.main_text{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    
}

.papagaio-imagem {
    width: 10rem;
}

@media (max-width: 930px) {
    .papagaio-imagem {
        display: none;
    }
}

.papagaio-imagem img {
    width: 20rem;
}

.text{
    width: 34rem;
    font-size: 3rem;
>>>>>>> jonas
    color: white;
    text-shadow: 
        1px 1px 0 rgba(0, 0, 0, 0.3),  
        1px 1px 0 rgba(0, 0, 0, 0.3),
        1px 1px 0 rgba(0, 0, 0, 0.3),
        1px 1px 0 rgba(0, 0, 0, 0.3);
}
<<<<<<< HEAD
=======
.titulo-e-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
>>>>>>> jonas

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}

button{
    background-color: #F46A00;
    border: none;
    border-radius: 2px;
<<<<<<< HEAD
    width: 6rem;
    height: 1.3rem;
    font-size: 10px;
=======
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
>>>>>>> jonas
    color: white;
    font-family: "Luckiest Guy", regular;
    cursor: pointer;
    transition: 1s;
}

button:hover{
    background: #df4e10;
}