.main-footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 374px) {
    display: none;
  }
}

.footer-content {
  max-width: 1700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 330px;
  display: flex;
  justify-content: space-evenly;
  /* border: red solid; */

  @media (max-width: 1190px) {
    text-align: center;
  }

  @media (max-width: 374px) {
      display: none;
  }
}

.content-overlay {
  align-items: center;
}

.social-medias {
  display: flex;
  gap: 10px;

  @media (max-width: 1190px) {
    margin: 10px 0;
    align-items: center;
    justify-content: center;
  }
}

.content-overlay {
  color: #f5f5f5;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0 40px 0;
  justify-content: space-between;
  width: 80%;
  border-bottom: #f5f5f5 solid 1px;

  @media (max-width: 1190px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

/*titulo do footer*/
.titulo-nave {
  font-size: 2.5rem;
}

.first-col ol, .second-col ol, .third-col ol, .fourth-col ol{
  display: flex;
  gap: 13px;
  flex-wrap: nowrap;
  flex-direction: column;
  
}

.fourth-col input {
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;

  @media (max-width: 1190px) {
    display: none;
  }
}

@media (max-width:700px) {
  .footer-content {
    width: 100%;
    max-width: 100%;
    
  }


  .social-medias {
    align-self: center;
    justify-content: center;
    justify-items: center;
  }

  .fourth-col input{
    width: 12rem;
  }
}

@media(max-width:590px) {
  .content-overlay {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .social-medias {
    justify-content: center;
    text-align: center;
  }

  .fourth-col input{
    justify-content: center;
    align-self: center;
  }
}

.bottom-footer {
  margin: 15px 0;
}

.copyright {
  font-family: 'Poppins', sans-serif;
  color: #f5f5f5;

  @media (max-width: 425px) {
    font-size: .8rem;
  }
}

