/*É como eu disse: Só papai do ceu sabe o quanto eu apanhei aqui. 
se eu colocar a imagem na div ela ganha corpo e atrapalha na hora de alinhar
com o conteúdo. Por isso usei position da ultima vez. Estava inviável mas consegui alinhar aqui
vou ajustar e espero o feedback de vocês para melhorias*/
.footer-content {
  width: 100%;
  background-image: url("../../../assets/images/footer.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 100%;
  padding-top: 299px;
  justify-content: space-between;
}

.social-medias {
  display: flex;
  gap: 10px;
}

.content-overlay {
  color: #f5f5f5;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex-wrap: nowrap;
  padding: 10px 100px 130px 100px;
  justify-content: space-between;
}


.first-col ol, .second-col ol, .third-col ol, .fourth-col ol{
  display: flex;
  gap: 13px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.fourth-col input {
  width: 300px;
  height: 50px;
}



@media (max-width:700px) {
  .footer-content {
    width: 100%;
    max-width: 100%;
    
  }

  .content-overlay {
    gap: 13px;
    display: flex;
  }

  .social-medias {
    align-self: center;
    justify-content: center;
    justify-items: center;
  }

  .fourth-col input{
    width: 12rem;
  }
}

@media(max-width:590px) {
  .content-overlay {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .social-medias {
    justify-content: center;
    text-align: center;

  }

  .fourth-col input{
    justify-content: center;
    align-self: center;
  }
}
