.button_login{
    background-color: #F46A00; /* background: #df4e10; */ /* esse hover tava pegando global entao tirei daqui */
    border: none;
    border-radius: 2px;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    font-family: "Luckiest Guy", regular;
    cursor: pointer;
    transition: 1s;
}

.button_login:hover{
    background: #df4e10;
}